#top-menu {
    background-color: #36266b !important;
}

#header {
    background-color: #614ba6 !important;
} 

#sidebar {
    max-width: 250px !important;
}

tr.context-menu-selection td.crtical {
    color: #ffffff !important;
}

td.priority {
    color: #000000 !important;
}

td.priority:hover {
    color: #000000 !important;
}

td.critical {
    background-color: #ffc7c7 !important;
    color: #000000 !important;
}

td.high {
    background-color: #f98484 !important;
    color: #000000 !important;
}